extends ../layout

block content
  h2.display-data Delete Item?
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Title
          td= display(item.title)
        tr
          td Description
          td= display(item.description)
        tr
          td Category
          td= display(item.category)
        tr
          td Condition 
            a(href="/conditions/", target="_blank", title="Conditions")
              i.glyphicon.glyphicon-info-sign
          td= display(item.condition)
        tr
          td Location
          td= display(item.location)


  form#item-form.form-horizontal(action="/items/" + item._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/items") Back
      | 
      input.btn.btn-danger(type="submit", value="Delete")
