extends ../layout

block content
  h2.display-data All Items
    a.btn.btn-primary.pull-right(href="/items/create") Create a new Item

  table.table.table-bordered.table-striped
    tr
        th
        th Title
        th Description
        th Category
        th Donor
        th Condition
          a(href="/conditions/", title="Conditions")
            i.glyphicon.glyphicon-info-sign
        th

    each item in items
      tr
        td
          a(href="/items/" + item._id + "/detail", title="Detail")
            img(src='/images/' + item.imageFileNames[0] width="100" height="50" onerror="this.onerror=null;this.src='/images/slug.png';this.width=50;this.height=50;")
        td= display(item.title)
        td= display(item.description)
        td= display(item.category)
        td= display(item.user)
        td= display(item.condition)

        td
          a(href="/items/" + item._id + "/detail", title="Detail")
            i.glyphicon.glyphicon-search
          |
          a(href="/items/" + item._id + "/edit", title="Edit")
            i.glyphicon.glyphicon-pencil
          |
          a(href="/items/" + item._id + "/delete", title="Delete")
            i.glyphicon.glyphicon-ban-circle
